<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zakiadev.testakumikro">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fixed"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_fixed_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingAwalPerusahaanActivity"/>
        <activity android:name=".SettingNeracaAwalActivity"/>
        <activity android:name=".MenuUtamaActivity"/>
        <activity android:name=".MenuLaporanAcvtivity"/>
        <activity android:name=".MenuPengaturanActivity"/>
        <activity android:name=".LaporanJurnalUmum"/>
        <activity android:name=".LaporanNeracaSaldoActivity"/>
        <activity android:name=".LaporanLabaRugi"/>
        <activity android:name=".LaporanNeracaActivity"/>
        <activity android:name=".LaporanPerubahanEkuitas"/>
        <activity android:name=".LaporanArusKas2"/>
        <activity android:name=".SettingDataPerusahaan"/>
        <activity android:name=".PilihDebetActivity"/>
        <activity android:name=".PilihKreditActivity"/>
        <activity android:name=".JurnalKecActivity"/>
        <activity android:name=".EditDataJurnalActivity"/>
        <activity android:name=".TambahDataJurnalActivity"/>
        <activity android:name=".ClearDataActivity"/>
        <activity android:name=".DaftarAkunActivity"/>
        <activity android:name=".DaftarJenisAkun"/>
        <activity android:name=".MateriWebView1"/>
        <activity android:name=".MateriWebView2"/>
        <activity android:name=".MenuUtamaMateri"/>
        <activity android:name=".TentangActivity"/>
        <activity android:name=".PetunjukActivity"/>

    </application>

</manifest>